.WeatherForm {
  width: 50%;
  min-height: 10rem;
  margin: 0 auto;
}

.WeatherForm-input {
  width: 100%;
  min-height: 5rem;
  border-radius: 2rem;
  font-size: 2rem;
  text-align: center;
}

.WeatherForm-button {
  background-color: #2c2c2c;
  margin-top: 2rem;
  padding: 2rem 4rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 1s ease;
}

.WeatherForm-button:hover {
  background-color: #1b1b1b;
  transition: all 1s ease;
}

::placeholder {
  text-align: center;
  font-size: 2rem;
}